$primaryColor: rgb(218, 236, 239);
$secondaryColor: black;

footer {
  grid-area: footer;
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 30px;
    margin-left: 50px;
  }
  nav {
    margin-right: 100px;
    ul li {
      display: inline-block;
      list-style-type: none;
      margin: 0 15px;
      a:link,
      a:visited {
        font-size: 22px;
        color: $secondaryColor;
        text-decoration: none;
        padding: 3px 6px;
      }
    }
  }
}
