@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn($color-fuente, $background, $border-radius) {
  color: $color-fuente;
  background: $background;
  border-radius: $border-radius;
}
